Repository yeasin2002/express-ts-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write 'src/**/*.{ts,js,json,md}', eslint 'src/**/*.{ts,js}, jest, prettier --write

updated config and added swc transpiler
  .swcrc
  Dockerfile
  README.md
  package.json
  src/app.ts
  src/database/index.ts
Due: prettier --write 'src/**/*.{ts,js,json,md}', eslint 'src/**/*.{ts,js}, jest, prettier --write

improved dev and build script with swc and tsx transpiler
  .lintstagedrc.json
  package.json
  src/app.ts
  src/config/logger.ts
Due: prettier --write 'src/**/*.{ts,js,json,md}', eslint 'src/**/*.{ts,js}, jest, prettier --write

fix: eslint config
  eslint.config.mjs
Due: none

fix: eslint config issues
  .prettierrc
  eslint.config.mjs
Due: none

chore: added minimal CLI to create api routes
  package.json
  script/filelist.ts
  script/index.ts
Due: prettier --write 'src/**/*.{ts,js,json,md}', eslint 'src/**/*.{ts,js}, jest, prettier --write

fix: formating issues
  src/app.ts
  src/config/envs.ts
  src/config/index.ts
  src/config/logger.ts
  src/middlewares/common/NotFound.middlewares.ts
  src/middlewares/common/globalErrorHandler.middlewares.ts
  src/middlewares/common/index.ts
Due: prettier --write 'src/**/*.{ts,js,json,md}', eslint 'src/**/*.{ts,js}, jest

doc: updated doc and updated scripts,cli
  Makefile
  README.md
  package.json
  src/api/user/user.controller.ts
  src/api/user/user.route.ts
  src/api/user/user.validation.ts
Due: prettier --write 'src/**/*.{ts,js,json,md}', eslint 'src/**/*.{ts,js}, jest, prettier --write

replaceted jest with vitest and updated eslint rules
  LICENSE
  eslint.config.mjs
  jest.config.js
  package.json
  test/app.test.ts
  vitest.config.ts
Due: prettier --write 'src/**/*.{ts,js,json,md}', eslint 'src/**/*.{ts,js}, jest, prettier --write

ci: added express basic CI
  .github/workflows/express-ci.yml
Due: prettier --write

ci: replaced npm and adde dyarn on express basic CI
  .github/workflows/express-ci.yml
Due: prettier --write

ci: fixed missing lockfile issue
  .github/workflows/express-ci.yml
  .gitignore
  yarn.lock
Due: prettier --write

ci: yarn strict lockfile checking
  .github/workflows/express-ci.yml
  .vscode/settings.json
Due: prettier --write

fix: missing package that installed globally ,now locally
  package.json
  yarn.lock
Due: prettier --write

fix: uncompateble package version
  package.json
Due: prettier --write

ci: will work only for v20
  .github/workflows/express-ci.yml
Due: prettier --write

feat: updated workspace settings for file nesting
  .vscode/settings.json
  bun.lockb
  yarn.lock
Due: prettier --write

feat: added type alias for production build
  .swcrc
  .vscode/settings.json
  bun.lockb
  package.json
  src/app.ts
  src/config/envs.ts
  tsconfig.json
Due: prettier --write 'src/**/*.{ts,js,json,md}', eslint 'src/**/*.{ts,js}, jest, prettier --write

feat: configured swc and script for better comparability
  .swcrc
  bun.lockb
  package.json
Due: prettier --write

chore: updated packages
  bun.lockb
  package.json
Due: prettier --write

fix: build and eslint script
  README.md
  eslint.config.mjs
  package.json
Due: prettier --write

chore: updated swcrc config for better optimizations
  .swcrc
Due: none

ci: updated build-ci with bun.js
  .github/workflows/build.yml
  bun.lockb
Due: prettier --write

chore: removed log files
  .gitignore
  bun.lockb
Due: none

fix: type alias on test and configured vitest
  package.json
  src/test/app.test.ts
  vitest.config.ts
Due: prettier --write 'src/**/*.{ts,js,json,md}', eslint 'src/**/*.{ts,js}, jest, prettier --write

feat: added swagger and configured
  package.json
  src/app.ts
  src/config/swaggerConfig.ts
Due: prettier --write 'src/**/*.{ts,js,json,md}', eslint 'src/**/*.{ts,js}, jest, prettier --write

fix: script overwriting swc config
  package.json
Due: prettier --write

chore: updated configs
  .nvmrc
  package.json
Due: prettier --write

refactor: app and server in different folders
  src/app.ts
  src/server.ts
Due: prettier --write 'src/**/*.{ts,js,json,md}', eslint 'src/**/*.{ts,js}, jest

test: update test according new structure and ci also
  .github/workflows/build.yml
  src/app.ts
  src/test/app.test.ts
Due: prettier --write 'src/**/*.{ts,js,json,md}', eslint 'src/**/*.{ts,js}, jest, prettier --write

chore: added example module
  src/api/example/example.openapi.ts
  src/api/example/example.route.ts
  src/api/example/example.validation.ts
  src/api/example/services/example.service.ts
  src/api/example/services/index.ts
Due: prettier --write 'src/**/*.{ts,js,json,md}', eslint 'src/**/*.{ts,js}, jest

removed unused doc and files
  .env.example
  api-client/auth.http
  api-client/category.http
  api-client/password-reset.http
  api-client/upload-test.http
  api-client/users.http
  doc/.gitkeep
  doc/AUTH_MIDDLEWARE_GUIDE.md
  doc/Auth.md
  doc/EMAIL_SETUP_GUIDE.md
  doc/PASSWORD_RESET_FLOW.md
  doc/RESPONSE_HANDLER_GUIDE.md
  doc/USER_PROFILE_OPTIMIZATION.md
  doc/ZOD-VALIDATION.md
  src/api/example/example.openapi.ts
  src/data/index.ts
  src/data/location-list.ts
  src/db/index.ts
  src/db/models/.gitkeep
  src/db/models/category.model.ts
  src/db/models/certification.model.ts
  src/db/models/experience.model.ts
  src/db/models/job-application-request.model.ts
  src/db/models/job.model.ts
  src/db/models/location.model.ts
  src/db/models/review.model.ts
  src/db/models/user.model.ts
  src/db/models/work-samples.model.ts
  src/helpers/index.ts
  src/helpers/review-stats.helper.ts
  src/helpers/user-profile.helper.ts
  src/helpers/validate-pagination.ts
Due: prettier --write 'src/**/*.{ts,js,json,md}', eslint 'src/**/*.{ts,js}, jest, prettier --write

updated env
  .env.example
  src/app.ts
Due: prettier --write 'src/**/*.{ts,js,json,md}', eslint 'src/**/*.{ts,js}, jest

docs: add AGENTS.md steering guide and initialize pnpm workspace configuration and removed legacy docs
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  .ruler/auth.md
  .ruler/features.md
  .ruler/module-generator.md
  .ruler/openapi-pattern.md
  .ruler/product.md
  .ruler/ruler.toml
  .ruler/structure.md
  .ruler/tech.md
  AGENTS.md
  README.md
  doc/.gitkeep
  doc/module-generator.md
  doc/openapi-pattern.md
  package.json
  pnpm-workspace.yaml
Due: prettier --write

feat: implement automated API module generator and project scaffolding infrastructure
  AGENTS.md
  doc/module-generator.md
  doc/openapi-pattern.md
  script/generate-module.js
  src/api/example/example.openapi.ts
  src/api/example/example.route.ts
  src/api/example/services/example.service.ts
  src/app.ts
  src/common/constants.ts
  src/common/index.ts
  src/db/index.ts
  src/helpers/index.ts
  src/lib/apply-defaults.mongoose-plugins.ts
  src/lib/connect-mongo.ts
  src/lib/openapi.ts
Due: prettier --write 'src/**/*.{ts,js,json,md}', eslint 'src/**/*.{ts,js}, jest, prettier --write

feat: migrate from MongoDB/Mongoose to PostgreSQL with Drizzle ORM and configure Docker Compose
  .env.example
  AGENTS.md
  bts.jsonc
  doc/module-generator.md
  docker-compose.yml
  drizzle.config.ts
  package.json
  pnpm-lock.yaml
  script/generate-module.js
  src/api/example/services/example.service.ts
  src/api/example/services/index.ts
  src/app.ts
  src/data/index.ts
  src/db/index.ts
  src/db/models/.gitkeep
  src/db/schema/example.schema.ts
  src/db/schema/index.ts
  src/helpers/db-error-handler.ts
  src/helpers/index.ts
  src/helpers/mongodb-error-handler.ts
  src/lib/apply-defaults.mongoose-plugins.ts
  src/lib/connect-db.ts
  src/lib/connect-mongo.ts
  src/lib/index.ts
Due: prettier --write 'src/**/*.{ts,js,json,md}', eslint 'src/**/*.{ts,js}, jest, prettier --write

feat: add Docker and Podman orchestration scripts and include project README documentation
  AGENTS.md
  README.md
  package.json
Due: prettier --write

feat: migrate from huskey to lefthook as precommit
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
  .husky/pre-commit
  AGENTS.md
  bts.jsonc
  lefthook.yml
  package.json
  pnpm-lock.yaml
  uploads/.gitkeep
Due: prettier --write

chore: removed legacy huskey scripts
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
Due: none

Path conditions:
  prettier --write 'src/**/*.{ts,js,json,md}': any of: *.{js,jsx,ts,tsx}
  eslint 'src/**/*.{ts,js}: any of: *.{js,jsx,ts,tsx}
  jest: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md,yml}
